.text-container {
    background-color: aquamarine;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  
  .green {
    background-color: rgb(10, 40, 10);
    color: rgb(246, 246, 246);
  }
  
  .red {
    background-color: rgb(235, 66, 66);
    color: black;
  }
  